repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ["--fix"]

  - repo: local
    hooks:
      - id: hugo-build-check
        name: Check if Hugo Build Succeeds
        entry: hugo
        args: ["--buildDrafts", "--gc", "--minify"]
        language: system
        pass_filenames: false
